/* !!! Entire page declarations !!! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #9CAF88;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EFEBE0;
}

p {
    color: #b0785c;
    font-size: 1.5em;
}

button {
    outline: none;
    background-color: #EFEBE0;
    color: #b0785c;
    font-size: 1.5em;
}

/* !!! Main Container !!! */

.main-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* !!! Top bar Container !!! */
.top-bar p {
    float: right;
}

/* !!! Inside Container !!! */
.inside-container {
    background-color: #9CAF88;
    height: 100%;
    width: 50%;
    margin: auto;

}
/* !!! Header/Quiz Start Container !!! */

/* !!! Main Quiz Area !!! */