* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EFEBE0;
}  

p {
    /* text-align: center; */
}

li {
    list-style: none;
}
.main-container {

}

.top-bar {
    color: #b0785c;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.top-bar a {
    color: inherit;
    cursor: pointer;
}

.top-bar a:hover {
    text-decoration: underline;
}