* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #EFEBE0;
}  

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: center;
    line-height: 20px;
    margin-bottom: 30px;
}



li {
    list-style: none;
}

.inside-container {
    max-width: 600px;
    background-color: #9CAF88;
    margin: auto;
    padding: 12px;
}

.top-bar {
    color: #b0785c;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.top-bar a {
    color: inherit;
    cursor: pointer;
}

.top-bar a:hover {
    text-decoration: underline;
}

.quiz-start {
   display: flex;
   flex-direction: column;
}

.quiz-start button {
    width: 150px;
    margin: auto;
    text-align: center;
}

.hidden {
    display: none;
}

.scores-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 600px;
    margin: auto;
}

.scores-grid h3{
    border: 2.5px solid #9CAF88;
    text-align: center;
}

.scores-grid p {
    text-align: center;
    border: 2.5px solid #9CAF88;
}